extends layouts/mainLayout.pug

block styling
    link(rel="stylesheet", href="/css/main.css")

    if formCSS
        link(rel="stylesheet", href="/css/forms.css")
        
    if productCSS
        link(rel="stylesheet", href="/css/product.css")

block mainContent
    main
        form.product-form(action="/admin/addProduct" method="POST")
            .form-control
                label(for="title") Title
                input(type="text" name="title" id="title")
            button.btn(type="submit") Add Product