extends ../layouts/mainLayout.pug

block styling

block mainContent
    main
        if cartHasProducts
            ul
                each product of cartProducts
                    li 
                        p #{product.title} (#{product.quantity})
                        form.product-form(action="/removeFromCart" method="POST")
                            .form-control
                                button.btn(type="submit", name="productId", value=product._id) Remove

        else 
            h1 There are no products in the Cart

        